*{
    margin: 0;
    padding: 0;
}
html{
    overflow: hidden;
}
body{
    background-color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #b6a114;
    height: 100%;
    width: 100%;
    display: flex;
    align-content: space-between;
}
.navigation{
    margin-top: 5%;
    margin-left: 2.5%;
    border-radius: 15%;
    border: 2px solid #b6a114;
    width: 25%;
    align-items: center;
    height: 85vh;
}
.navigation img{
    margin-top: 2.5%;
    margin-left: 25%;
    height: 30%;
    width: 50%;
}
.navigation nav {
    display: flex;
    flex-direction: column;
}

a {
    font-size: 1.2rem;
    width: 100%;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    text-align: center;
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    display: block; /* Make links block-level elements */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

a:hover {
    background-color: #a08d10; /* Darken the background color on hover */
    color: #000;
}

/* Optional: Active link styling */
a.active {
    background-color: #007bff; /* Active link background color */
}

.content{
    margin-top: 5%;
    margin-left: 1.5%;
    width: 70%;
    align-items: center;
}
.content .home{
    height: 92rem;
    padding: 2.5%;
    display: flex;
    align-content: space-around;
}
.content .home .introduction{
    margin-top: 10%;
}

.content .home .introduction #intro{
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
.content .home .introduction .anim-typewriter{
    font-size: 4.2rem;
    white-space: nowrap;
    font-weight: 500;
    overflow: hidden;
    animation: typewriter 20s steps(14) infinite,
                blink .8s infinite normal;
    border-right: 5px solid #b6a114;
    letter-spacing: .50%;
}
.content .home .introduction #subIntro{
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
@keyframes typewriter {
    10%,15%,30%,35%,50%,55%,75%,70%,90%,95% {
        width: 0;
    }

    5%,20%,25%,40%,45%,60%,65%,80%,85% {
        width: calc(55% - 5px);
    }
}

@keyframes blink {
    50%{border-color: transparent;}
}
/*here is the div section for skill*/
.skill {
    width: 100px;
    height: 55px;
    background: #fc5e5e;
    position: relative;
    margin: 10px auto;
}

.skill:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -25px;
    left: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #fc5e5e;
}

.skill:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -25px;
    left: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #fc5e5e;
}
