body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    line-height: 1.6;
}

header {
    background: #635707;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: #b6a114;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

h3{
    margin: 0rem;
}
.social a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    text-decoration: none;
}

.social a i {
    margin-bottom: 5px;
}

.social a:hover {
    color: #635707;
}
.view-contact-btn {
    background-color: #b6a114;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    position: relative;
    left: 9.2rem;
    top: 1rem;
    padding: 1rem;
}

.view-contact-btn:hover {
    background-color: #a08d10;
}